<div id="footer-top">
  <p id="phone">Phone: 385.743.1615</p>
  <p id="email">Email: citywidehydroseeding@gmail.com</p>
  </p>
</div>
<div id="footer-bottom">
    <p id="copyright">
      City Wide Hydroseeding &copy 2017
    </p>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Admin Login",  new_user_session_path, id: "log-in" %>
    <% end %>
  </div>
</div>
