<nav>
  <%= image_tag("logo1.png", :alt => "hydro logo") %>
  <p>385.743.1615</p>
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'Contact',  contact_path%>
</nav>
