<div id="about-intro">
	<h1>About Us</h1>
	<p>Citywide Hydroseed Company offers a proven track record of creative, quality<br> landscape design and maintenance. You deserve the best in landscape design/build and<br> maintenance...You deserve Citywide Hydroseeding. We have earned the reputation of<br> being the market leader in residential and commercial hydroseeding, and this is largely due<br> to what we have termed “The Citywide Approach” which follows:</p>
</div>

<div id="about-approach">
	<div>
		<h1>Service</h1>
		<p> You deserve a company that is<br> responsive to you! Our maintenance<br> organizations allows us to do that. Our<br> horticulturists are directly responsible<br> for scheduling, production, and quality<br> control. As a result, they will react<br> quickly and efficiently to your request.</p>
	</div>
	<div>
		<h1>Creativity</h1>
		<p>The difference between ordinary and<br> extraordinary is “that little extra”.<br> Our extensive knowledge of grass<br>seed, plant material, color, and texture,<br> combined with our knowledge of plant<br> performance, guarantees traffic-stopping<br> color displays.</p>
	</div>
</div>
<div id="about-approach">
	<div>
		<h1>Experience</h1>
		<p>Family ran and operated horticulturists<br>
		and farmers with 40+ years providing<br>
		local communities with quality results.<br><br><br><br><br></p>
	</div>
	<div>
		<h1>Teamwork</h1>
		<p>We are a team of professionals who<br> demand excellence and provide quality<br> beyond expectations. Citywide will<br> work with you to meet your goals. Our<br> team and maintenance managers are<br> committed to the idea that Together<br> Everyone Achieves More.</p>
	</div>
</div>

<div id="about-results">
	<h1>Results</h1>
	<p>A consistent image for your property – an image that reflects quality and<br> professionalism. We will strive to meet your objectives as well as those of your<br> property managers, asset managers, and owners. The result will be an exterior<br> environment that is pleasing to tenants and will maximize the investment of clients<br> with our 90 day satisfaction guarantee.</p>
</div>

<div id="about-pic">
	<img src="">
</div>

<div id="FAQ">
	<h1>FAQ</h1>
	<p>+ What is HydroSeeding?<br> + How Does HydroSeeding Work?<br> + What are the Advantages Of HydroSeeding Over Broadcast (Dry) Seeding?<br> + What are the Advantages Of HydroSeeding Over Sod?<br> + How much does HydroSeeding cost?<br> + Is HydroSeeding guaranteed?<br> + What is the best time of year to have my lawn HydroSeeded?</p>
</div>
















