<div id="about-intro">
	<p>Citywide Hydroseed Company offers a proven track record of creative, quality landscape design and maintenance. You deserve the best in landscape design/build and maintenance...You deserve Citywide Hydroseeding. We have earned the reputation of being the market leader in residential and commercial hydroseeding, and this is largely due to what we have termed “The Citywide Approach” which follows:</p>
</div>

<div>
	<div>
		<h4>Service</h4>
		<p> You deserve a company that is responsive to you! Our maintenance
		organizations allows us to do that. Our
		horticulturists are directly responsible
		for scheduling, production, and quality
		control. As a result, they will react
		quickly and efficiently to your request.</p>
	</div>
	<div>
		<h4>Creativity</h4>
		<p>The difference between ordinary and
		extraordinary is “that little extra”.
		Our extensive knowledge of grass
		seed, plant material, color, and texture,
		combined with our knowledge of plant
		performance, guarantees traffic-stopping
		color displays.</p>
	</div>
</div>
<div>
	<div>
		<h4>Experience</h4>
		<p>Family ran and operated horticulturists
		and farmers with 40+ years providing
		local communities with quality results.</p>
	</div>
	<div>
		<h4>Teamwork</h4>
		<p>We are a team of professionals who
		demand excellence and provide quality
		beyond expectations. Citywide will
		work with you to meet your goals. Our
		team and maintenance managers are
		committed to the idea that Together
		Everyone Achieves More.</p>
	</div>
</div>