<div class="wrapper">
	<div id="about-intro">
		<h1>About Us</h1>
		<p>Citywide Hydroseed Company offers a proven track record of creative, quality<br> landscape design and maintenance. You deserve the best in landscape design/build and<br> maintenance...You deserve Citywide Hydroseeding. We have earned the reputation of<br> being the market leader in residential and commercial hydroseeding, and this is largely due<br> to what we have termed “The Citywide Approach” which follows:</p>
	</div>

	<div id="about-approach">
		<div>
			<h1>Service</h1>
			<p> You deserve a company that is<br> responsive to you! Our maintenance<br> organizations allows us to do that. Our<br> horticulturists are directly responsible<br> for scheduling, production, and quality<br> control. As a result, they will react<br> quickly and efficiently to your request.</p>
		</div>
		<div>
			<h1>Creativity</h1>
			<p>The difference between ordinary and<br> extraordinary is “that little extra”.<br> Our extensive knowledge of grass<br>seed, plant material, color, and texture,<br> combined with our knowledge of plant<br> performance, guarantees traffic-stopping<br> color displays.</p>
		</div>
	</div>
	<div id="about-approach">
		<div>
			<h1>Experience</h1>
			<p>Family ran and operated horticulturists<br>
			and farmers with 40+ years providing<br>
			local communities with quality results.<br><br><br><br><br></p>
		</div>
		<div>
			<h1>Teamwork</h1>
			<p>We are a team of professionals who<br> demand excellence and provide quality<br> beyond expectations. Citywide will<br> work with you to meet your goals. Our<br> team and maintenance managers are<br> committed to the idea that Together<br> Everyone Achieves More.</p>
		</div>
	</div>

	<div id="about-results">
		<h1>Results</h1>
		<p>A consistent image for your property – an image that reflects quality and<br> professionalism. We will strive to meet your objectives as well as those of your<br> property managers, asset managers, and owners. The result will be an exterior<br> environment that is pleasing to tenants and will maximize the investment of clients<br> with our 90 day satisfaction guarantee.</p>
	</div>

	<div id="about-pic">
		<img src="./app/assets/images/bkgrother.jpg">
	</div>

	<div id="FAQ">
	<h1>FAQ</h1>
		<div class="panel-group" id="panel-392654">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-392654" href="#panel-element-3095">+ What is HydroSeeding?</a>
				</div>
				<div id="panel-element-3095" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>HydroSeeding is a planting process in which a slurry containing seed, mulch, fertilizer and a tackifier (bonding agent) is sprayed onto the ground. The slurry is sprayed over prepared ground in a uniform layer. Hydroseeding offers many advantages to the traditional process of broadcasting or sowing dry seed. It promotes quick germination and inhibits soil erosion. It is also a very effective alternative to sod that offers a significant cost savings as well as many other benefits.</h4>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-392654" href="#panel-element-801757">+ How Does HydroSeeding Work?</a>
				</div>
				<div id="panel-element-801757" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>Virtually any grass, or erosion control seed that can be planted by seed can be hydroseeded. This includes any sun or shade lawn seed, athletic field mixes, pasture mixes, native grasses, wildflowers, roadside mixes and erosion control mixes. The nutrient rich slurry helps promote fast germination. The hydroseeding mulch helps keep the soil moist to enable the seed to germinate quickly and unlike straw or hay contains no weed seed. The tackifier in the mix acts like a glue to hold the mulch in place and to help prevent washout in the case of heavy rains.</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-group" id="panel-962967">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-962967" href="#panel-element-831410">+ What are the Advantages Of HydroSeeding Over Broadcast (Dry) Seeding?</a>
				</div>
				<div id="panel-element-831410" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>Quicker Germination,
								Better moisture retention,
								Better seed to soil contact,
								Hydroseeding mulch contains no weed seed unlike straw or hay,
								Better results at a similar cost,
								Areas such as hillsides and narrow areas that are difficult or impossible to dry seed can be done easily,
								No straw or netting to remove,
								One step and very uniform application, Holds soil in place.</h4>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-962967" href="#panel-element-16235">+ What are the Advantages Of HydroSeeding Over Sod?</a>
				</div>
				<div id="panel-element-16235" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>Sod provides instant gratification but there are advantages to hydro seeding over sod. 
							The advantages of hydro seeding over sod are:
							You can have a sod quality lawn in a few weeks for less than 1/3 the cost of sod
							Both hydroseeding and sod require watering but the watering requirements for hydro seeding are less
							Hydro seeding grows the lawn on your soil and is not a different soil that is transplanted
							The problem of sod not “taking” is eliminated.
							With sod the roots are cut very short and the sod goes through some shock during shipment and installation</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-group" id="panel-140301">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-140301" href="#panel-element-29165">+ How much does HydroSeeding cost?</a>
				</div>
				<div id="panel-element-29165" class="panel-collapse collapse in">
					<div class="panel-body">
						<h4>Hydroseeding prices vary based on the location of the jobsite, type of seed, fertilizer and other additives and overall area to be seeded. Hydroseeding jobs are commonly priced by the Square Footage of area to be seeded.</h4>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title" data-toggle="collapse" data-parent="#panel-140301" href="#panel-element-470217">+ Is HydroSeeding guaranteed?</a>
				</div>
				<div id="panel-element-470217" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>Citywide has a 90 day guarantee provided you follow the instructions for the care of your new lawn. 	The warranty does not cover areas that suffer due to lack of water or displacement of the Hydroseed due to any manual disturbance, erosion, high winds and other natural causes.</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-group" id="panel-313359">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-313359" href="#panel-element-12007">+ What is the best time of year to have my lawn HydroSeeded?</a>
				</div>
				<div id="panel-element-12007" class="panel-collapse collapse">
					<div class="panel-body">
						<h4>Traditionally the Spring and Fall months are the most conducive to growing any type of vegetation. Temperatures 92 degrees and higher only slows the germination and requires more watering. The normal period for Utah is from March 15th through October 15th.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
<div class="footer">
	<%= render 'shared/footer' %>
</div>
