<div class="wrapper" >
	<div id="home-motto">
		<p>Place your motto here!</p>
	</div>

	<div id="main-pic">
		<img src="">
	</div>

	<div id="info">
		<p>I am a paragraph! Fill me up with nice things all about your company! Classy serifed<br> font here! I am a paragraph! Fill me up with nice things all about your company!<br> Classy serifed font here! I am a paragraph! Fill me up with nice things all about your<br> company! Classy serifed font here!</p>
	</div>

	<div id="three-pics">
		<img src="">
		<img src="">
		<img src="">
	</div>
	<div class="push"></div>
</div>
<div class="footer">
	<%= render 'shared/footer' %>
</div>
