// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-intro {
	margin: 10%;
	text-align: center;
}

#about-approach {
	display: block;
  margin: auto;
  width: 80%;
}

#about-approach div {
	display: inline-block;
	margin: 9%;
	width: 30%;
	text-align: center;
}

#about-results {
	margin: 12%;
	text-align: center;
}

#about-pic {
	height: 300px;
	text-align: center;
	border: 2px dashed green;
	display: block;
  margin: auto;
  width: 40%;
}